@layer utilities {
  .inter-100 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
  }
  .inter-200 {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
  }
  .inter-300 {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
  }
  .inter-400 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
  }
  .inter-500 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }
  .inter-600 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
  }
  .inter-700 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
  .inter-800 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
  }
  .inter-900 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
  }
}
