@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.dark body {
  background-color: #151419;
  color: #FBFBFB;
}

body {
  background-color: #FBFBFB;
  color: #151419;
}